{{#match @custom.Étiquette_pour_section_spéciale}}
{{#get "posts" limit="4" filter="tag:[{{@custom.Étiquette_pour_section_spéciale}}]" include="authors,tags"}}
<div class="global-sections{{>global sections_counter=true}}">
	{{#foreach posts}}
	{{>sections_item label=@custom.Étiquette_pour_section_spéciale}}
	{{/foreach}}
</div>
{{/get}}
{{else}}
{{#foreach posts limit="1"}}
{{#if primary_tag}}
{{#get "posts" limit="4" filter="tag:{{primary_tag.slug}}+id:-{{id}}" include="authors,tags"}}
<div class="global-sections{{>global sections_counter=true}}">
	{{#foreach posts}}
	{{>sections_item label=(t "See more")}}
	{{/foreach}}
</div>
{{/get}}
{{/if}}
{{/foreach}}
{{/match}}