{{!< default}}
{{#post}}
<article class="post-section">
	{{#match @page.show_title_and_feature_image}}
	{{>post_header}}
	{{/match}}
	<div class="post-content">
		{{#if access}}
		{{content}}
		{{else}}
		{{#if html}}
		<div class="members-teaser">
			{{{html}}}
		</div>
		{{/if}}
		{{>members/cta}}
		{{/if}}
	</div>
</article>
{{/post}}